/* You can add global styles to this file, and also import other style files */

.displayFlex {
    display: flex;
}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexSpaceAround {
    justify-content: space-around;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
